flask
pandas
mysql-connector-python
python-dotenv
PyMySQL
langchain
langchain_community
langchain-google-genai
langchain-core
Chroma
HuggingFace
plotly
sqlalchemy
langchain_experimental  
seaborn   
matplotlib
chromadb            
psycopg2-binary     
langchain_google_genai
langchain
langchain_core
sentence-transformers
kaleido
cryptography
torch==2.0.1 
torchvision==0.15.2